.project-process{
    padding:150px 8%;
    background:#050816;
}

.process-heading{
    text-align:center;
    margin-bottom:90px;
}

.process-heading span{
    color:#22D3EE;
    letter-spacing:3px;
    text-transform:uppercase;
    font-size:14px;
}

.process-heading h2{
    margin-top:18px;
    font-size:3rem;
    color:white;
}

.process-heading p{
    margin-top:20px;
    color:#94A3B8;
    max-width:700px;
    margin-inline:auto;
    line-height:1.8;
}

.timeline{
    max-width:900px;
    margin:auto;
    position:relative;
}

.timeline::before{
    content:"";
    position:absolute;
    left:30px;
    top:0;
    bottom:0;
    width:2px;
    background:#23324B;
}

.timeline-item{
    display:flex;
    gap:35px;
    margin-bottom:70px;
}

.timeline-number{
    width:60px;
    height:60px;

    flex-shrink:0;

    border-radius:50%;

    background:#22D3EE;

    color:#050816;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:700;
}

.timeline-content{
    background:#111827;

    border-radius:20px;

    padding:30px;

    border:1px solid #25324A;

    flex:1;

    transition:.35s;
}

.timeline-content:hover{
    border-color:#22D3EE;

    transform:translateY(-5px);

    box-shadow:0 18px 40px rgba(34,211,238,.12);
}

.timeline-content h3{
    color:white;
    font-size:1.5rem;
}

.timeline-content p{
    margin-top:15px;
    color:#94A3B8;
    line-height:1.8;
}

@media(max-width:768px){

.timeline::before{
left:20px;
}

.timeline-item{
gap:20px;
}

.timeline-number{
width:40px;
height:40px;
font-size:14px;
}

}